@model InventoryControl.Models.InventoryItems.InventoryPart

@{
    ViewBag.Title = "Details";
}

<h2>@Resources.InventoryRes.Action_ViewDetails</h2>

<div>
    <h4>@Resources.InventoryRes.Title_InventoryItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailabeNoOfUnits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailabeNoOfUnits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.InventoryRes.Action_Edit, "Edit", new { id = Model.ID }) |
    @Html.ActionLink(Resources.InventoryRes.Action_BackToList, "Index")
</p>
